<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BMLTDistanceUnits</key>
	<string>MI</string>
	<key>BMLTInitialProjectionSizeInKM</key>
	<integer>25</integer>
	<key>BMLTLeadText</key>
	<string>Find NA Meetings in Minnesota</string>
	<key>BMLTRootServerURI</key>
	<string>http://naminnesota.org/bmlt/main_server</string>
	<key>BMLTServerHomeLat</key>
	<real>44.984712999999999</real>
	<key>BMLTServerHomeLong</key>
	<real>-93.179855000000003</real>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Provided by MAGSHARE</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon-iPhone.png</string>
				<string>icon-LargeiPhone.png</string>
				<string>icon-iPad.png</string>
				<string>icon-LargeiPad.png</string>
				<string>iPhone.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>org.magshare.MNNAMeetings</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0d15</string>
	<key>CFBundleSignature</key>
	<string>LGVP</string>
	<key>CFBundleVersion</key>
	<string>2.0d15</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
