<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMLT copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BMLT-NY (Development).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BMLT-NY Release Mode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77016E1C14424918003E7D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77111C9B145AE2660048448D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77263137144A7137008C8112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7728E9681449B33700F1DFD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7738B7CF1441F34A004E7DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774627171453021F0034B457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7772053B14AB9EED00372C21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B070EA14177A6000549DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B8C66F14E89AAF007FE970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77CF56B4143D4194002E5A5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D7AC51144DA304002CFDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77EECB581439F4330066C372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F1D2301439F57400B816CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F1D2F41439F5BD00B816CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F5E2CA1463588D00B0C770</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
